<html>
	<head>
		<div id="header">
			<%= erb :header %>
		</div>
		<title>About Dartmine</title>
	</head>
	<body>
		<div class="static-page">
			<div class="copy">
				<div>
					My name is Michael Hassin and I spend my time programming computers and riding bikes in Chicago. I originally created Dartmine to collect data for my <a href="http://business.pages.tcnj.edu/files/2014/05/Hassin-2014-thesis.revised.5.12.pdf">undergraduate thesis in economics</a> about the costs of incarceration in New York. I put it on the Web to make DART a viable data source for researchers. Please <a href="mailto:hassinmichael@gmail.com">email me</a> if there's anything you want to ask me or talk about!
				</div>
			</div>
		</div>
	</body>
</html>