<link href='http://fonts.googleapis.com/css?family=PT+Sans' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="style.css" type="text/css" /> 
<script src="//code.jquery.com/jquery-1.10.2.js"></script>
<h1>DARTMINE</h1>
<div id="navigation">
	<ul class="nav">
	  <li><a href="/">home</a></li>
	  <li><a href="/howto">what is this</a></li>
	  <li><a href="/about">about</a></li>
	</ul>
</div>