<style>
ul.nav { text-align: center; }
ul.nav li { display: inline-block; }

body {
    background-color: white;
}

h1 {
    font-family: 'PT Sans', sans-serif;
    color: black;
    text-align: center;
}

.copy {
	font-family: 'PT Sans', sans-serif;
  color: black;
}

.nav {
	font-family: 'PT Sans', sans-serif;
  color: black;
}

.static-page { 
	padding-top: 3%;
	padding-left: 15%;
	padding-right: 15%;
}
</style>
<link href='http://fonts.googleapis.com/css?family=PT+Sans' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="style.css" type="text/css" /> 
<script src="//code.jquery.com/jquery-1.10.2.js"></script>
<h1>DARTMINE</h1>
<div id="navigation">
	<ul class="nav">
	  <li><a href="/">home</a></li>
	  <li><a href="/howto">what is this</a></li>
	  <li><a href="/about">about</a></li>
	  <li><a href="https://github.com/strangerloops/dartmine">source</a></li>
	</ul>
</div>