ul.nav { text-align: center; }
ul.nav li { display: inline-block; }

body {
    background-color: white;
}

h1 {
    font-family: 'PT Sans', sans-serif;
    color: black;
    text-align: center;
}

.copy {
	font-family: 'PT Sans', sans-serif;
  color: black;
}

.nav {
	font-family: 'PT Sans', sans-serif;
  color: black;
}

.static-page { 
	padding-top: 3%;
	padding-left: 15%;
	padding-right: 15%;
}